// src/pages/Careers/Careers.scss
@use "../../styles/variables" as *;

/**
 * Contenedor principal de la vista de bolsa de trabajo.
 */
.careers-page {
	width: 100%;
	background-color: $gris-card;
	box-sizing: border-box;
}
