@use '../../styles/variables' as *;

.mood-print {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: #ecf0ec;

  &__footer-area {
    width: 100%;
    /* 🌟 Forzamos a que el área oscura mida AL MENOS el tamaño de la pantalla (100vh) */
    min-height: 100vh;
    flex-grow: 1;
    background-color: #1c1c1e;

    display: flex;
    flex-direction: column;

    position: relative;
    z-index: 999;
  }
}
