// src/pages/Cms/Views/Equipo/EquipoView.scss
@use "../../../../styles/variables" as *;

.view-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 100%;
	animation: fadeIn 0.4s ease-out;
}
